* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header, .main-section, footer {
    background-color: #1f2937;
}

.header, .main-section, .info-section, .quote-section, .action-section {
    padding: 0 400px;
}

/* HEADER SECTION */

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.header h3 {
    font-size: 24px;
    color: #f9faf8;
}

.header ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    padding: 0;
}

ul a {
    text-decoration: none;
    color: #e5e7eb;
}

ul li {
    padding-left: 30px;
}

/* MAIN SECTION */

.main-section {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.text h1 {
    font-size: 48px;
    font-weight: 900;
    color: white;
    margin-bottom: 10px;
}

.text p {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

.text button {
    background-color: #3886f6;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    width: 140px;
    height: 40px;
    border: none;
}

.lago {
    width: 550px;
    height: 250px;
    flex: 1 0 auto;
}

/* INFO SECTION */

.info-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 100px;
}

.info-image {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: 5px solid #1f2937;
}

.info-section h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 50px;
}

.figures-container {
    display: flex;
    justify-content: center;
}

/* figure {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

figure {
    margin: 0 15px;
}

figcaption {
    font-size: 18px;
    font-weight: bold;
    color: #1f2937;
    /* margin: 10px 50px; */
    text-align: center;
}

/* QUOTE SECTION */

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    padding: 100px 500px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    font-weight: 900;
    font-size: 25px;
}

/* ACTION SECTION */

.container {
    background-color: #3886f6;
    border-radius: 15px;
    margin: 100px 0;
    display: flex;
    padding: 50px 100px;
    color: white;
    justify-content: space-between;
}

.action-button {
    background-color: #3886f6;
    border-radius: 5px;
    color: white;
    border: 2px solid white;
    font-weight: 700;
    font-size: 15px;
    width: 140px;
    height: 40px;
}

/* FOOTER */

footer {
    color: #e5e7eb;
    font-size: medium;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}